.row {
	&:before,
	&:after {
		display: none !important;
	}
	&.full-width-row {
	   width: 100%;
	   margin-left: auto;
	   margin-right: auto;
	   max-width: 100%;
	}
	&.mpc-row {
		display: flex;
	}
	&.row-o-full-height {
		display: flex;
		min-height: 100vh;

		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  /* IE10+ specific styles go here */
		   height: 100vh;
		}
	}
	&.row-o-columns-bottom {
		align-items: flex-end;
	}
	&.row-o-columns-middle {
		align-items: center;
	}
	&.row-o-content-middle {
		.vc_column-inner {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
	&.row-o-content-bottom {
		.vc_column-inner {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}
	}
	&.no-padding {
		margin: auto;

		&>.columns,
		.owl-item>.columns {
			padding: 0;
		}
	}
	&.max_width {
		max-width: 75em;
		margin: 0 auto;
	}
	.columns {
		.wpb_wrapper {
			width: 100%;
		}
	}
}
#content-container {
	min-height: 100%;
	@extend .linear-quick-transition;

	.click-capture {
		position: absolute;
		z-index: 998;
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		background: rgba(0,0,0,0.2);
		content: '';
		will-change: opacity;
		@include opacity(0);
		@include transition(opacity .25s linear);
	}
}
#wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	[role="main"] {
		position: relative;
		z-index: 10;
	}

	&.open-menu {
		overflow: hidden;

		#content-container {
			@include translate3d(320px, 0, 0);

			@include max-break($break-small) {
				@include translate3d(280px, 0, 0);
			}

			.rtl & {
				@include translate3d(-320px, 0, 0);

				@include max-break($break-small) {
					@include translate3d(-280px, 0, 0);
				}
			}
			.mobile_menu_animation-over-content & {
				@include translate3d(0, 0, 0);

				@include max-break($break-small) {
					@include translate3d(0, 0, 0);
				}

				.rtl & {
					@include translate3d(0, 0, 0);

					@include max-break($break-small) {
						@include translate3d(0, 0, 0);
					}
				}
			}

			.click-capture {
				width: 100%;
				height: 100%;
				@include opacity(1);
				left: 0;
			}
		}
		.header.fixed {
			display: none;
		}
	}
}
.thb-borders {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 0;
	pointer-events: none;
	z-index: 999;
	border: 0px solid $color1;
	@extend .quick-transition;
	@extend .admin-style;
	@include min-break($break-small) {
		border-width: 8px;
	}
}